#THIS IS AN ENV EXAMPLE FILE, RENAME IT TO .ENV AND PASTE YOUR FYERS DETAILS AND ACCESS TOKENS. 

CLIENT_ID = "FYERS CLIENT ID"
SECRET_KEY = "FYERS SECRET KEY"
REDIRECT_URL = "REDDIRECTING URL"

AUTH_CODE = "YOUR AUTH CODE"
ACCESS_TOKENS = "YOUR ACCESS TOKENS"
